/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* http://prismjs.com/download.html?themes=prism&languages=clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #999;
}
.namespace {
  opacity: .7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.regex,
.token.important {
  color: #e90;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
body {
  background-color: #fff;
  color: #464640;
  font-family: "ff-dagny-web-pro", "Helvetica Neue", Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 100;
  line-height: 28px;
  padding-top: 56px;
}
a {
  color: #3388dd;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid #3388dd;
}
a.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#529ae2), to(#3388dd));
  background: -webkit-linear-gradient(#529ae2, #3388dd);
  background: -moz-linear-gradient(#529ae2, #3388dd);
  background: -ms-linear-gradient(#529ae2, #3388dd);
  background: -o-linear-gradient(#529ae2, #3388dd);
  background: linear-gradient(#529ae2, #3388dd);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #237bd3;
  color: #ffffff;
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  line-height: 56px;
  padding: 0 30px;
  text-align: center;
}
a.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#5fa1e4), to(#4090df));
  background: -webkit-linear-gradient(#5fa1e4, #4090df);
  background: -moz-linear-gradient(#5fa1e4, #4090df);
  background: -ms-linear-gradient(#5fa1e4, #4090df);
  background: -o-linear-gradient(#5fa1e4, #4090df);
  background: linear-gradient(#5fa1e4, #4090df);
  border: none;
  color: #ffffff;
}
a.button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}
a.button small {
  font-size: 13px;
}
em {
  color: #202020;
  font-style: italic;
}
.wrapper {
  margin: 0 auto;
  padding: 0 10px;
}
h3 {
  font-size: 36px;
  line-height: 56px;
  margin: 0 0 28px 0;
}
#content h4 {
  color: #999;
  font-size: 28px;
  font-weight: 400;
  margin: 56px 0 28px 0;
}
p {
  color: #767670;
  margin-bottom: 28px;
}
p:last-child {
  margin-bottom: 0;
}
.list {
  color: #767670;
  font-size: 16px;
  list-style: disc;
  margin-bottom: 28px;
  margin-left: 25px;
}
.list .list {
  margin-bottom: 0;
}
code {
  background-color: #f6f6f0;
  border: 1px solid #e6e6e0;
  color: #565650;
  font-family: monospace;
  font-size: 14px;
  padding: 0 3px;
}
pre code {
  display: block;
  line-height: 20px;
  margin-bottom: 28px;
  overflow: scroll;
  padding: 12px 20px;
}
.columns {
  overflow: hidden;
}
.columns .column {
  margin-bottom: 56px;
}
.columns .column:last-child {
  margin-right: 0;
}
header {
  background: #fafaf5;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
header a {
  color: #464640;
}
header a:hover {
  color: #3388dd;
}
header .wrapper {
  border: 1px solid #f8f8f8;
  border-width: 0 1px 0 1px;
  padding: 0;
}
header ul {
  border-left: 1px solid #f0f0f0;
  height: 56px;
}
header ul li {
  border-right: 1px solid #f0f0f0;
  float: left;
}
header ul li.secondary {
  float: right;
  border: none;
}
header ul a,
header ul h1 {
  display: block;
  padding: 14px 19px 14px 20px;
}
header ul a:hover,
header ul h1:hover {
  border-bottom: none;
}
header ul a em,
header ul h1 em {
  color: #3388dd;
  font-size: .75em;
}
header ul a.button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
header ul a:hover + nav {
  display: block;
}
header ul img {
  display: block;
  margin-top: 1px;
  margin-bottom: 3px;
}
#banner {
  -webkit-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2);
  background: #f6f6f0;
  margin-bottom: 112px;
}
#banner .wrapper {
  overflow: hidden;
  padding: 28px 10px 84px;
}
.intro {
  margin-bottom: 112px;
  padding: 0 20px;
  text-align: center;
}
.intro h2 {
  color: #565650;
  font-size: 64px;
  font-weight: 100;
  line-height: 56px;
  margin-bottom: 28px;
  margin-top: 28px;
}
.intro p {
  font-size: 21px;
  color: #868680;
  margin-bottom: 56px;
}
.intro .download {
  margin: 0;
}
.intro .download a,
.intro .download span {
  display: inline-block;
  min-width: 51%;
  margin: 0 0 56px 0;
}
.intro .download span {
  font-size: 18px;
  font-weight: normal;
}
.demo {
  height: 476px;
  margin: 0 auto;
  position: relative;
  width: 327px;
}
.demo h3 {
  background: url(../images/images.png) top no-repeat;
  background-size: 120px 361px;
  text-indent: -9999px;
}
.demo .numbers {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border: 1px solid #bbc;
  left: 80px;
  margin-bottom: 28px;
  padding: 14px 20px;
  position: absolute;
  top: 156px;
  z-index: 10;
}
.demo .numbers p {
  margin-bottom: 0;
}
.demo .numbers .list {
  margin-bottom: 0;
}
#content {
  background-color: #fff;
  margin-bottom: 140px;
  padding: 0 20px;
}
#carbonads {
  border: 1px solid #e5e5e5;
  border-left-style: none;
  border-right-style: none;
  clear: both;
  font-size: 13px;
  line-height: 20px;
  margin: 0 auto;
  overflow: hidden;
  padding: 13px 0;
  position: relative;
  width: 300px;
}
#carbonads a {
  color: #777;
}
#carbonads a:hover {
  border-bottom: none;
}
.carbon-img {
  float: left;
  margin-right: 20px;
}
.carbon-img img {
  display: block;
}
.carbon-text {
  float: right;
  width: 150px;
}
.carbon-poweredby {
  color: #ccc !important;
  font-size: 11px;
  position: absolute;
  right: 0;
  bottom: 0;
}
#features {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 84px;
  padding-bottom: 83px;
}
#features h3 {
  line-height: 28px;
  padding: 14px 0;
}
#open-source h3 {
  background: url(../images/images-2.png) -1566px center no-repeat;
  background-size: 1633px 56px;
  padding-left: 88px;
}
#major-cards-recognised h3 {
  background: url(../images/images-2.png) 0 center no-repeat;
  background-size: 1633px 56px;
  padding-left: 102px;
}
#always-free h3 {
  background: url(../images/images-2.png) -782px center no-repeat;
  background-size: 1633px 56px;
  padding-left: 104px;
}
#manual {
  margin: 0 auto;
}
#manual div {
  margin-bottom: 112px;
}
#manual h3 {
  font-size: 52px;
  margin-bottom: 56px;
  text-align: center;
}
form {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f7;
  border: 1px solid #fff;
  margin: 0 auto 0;
  left: 0;
  padding: 13px 20px;
  position: absolute;
  width: 287px;
}
form h2 {
  color: #555;
  font-family: "ff-dagny-web-pro", "Helvetica Neue", Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
}
form li {
  margin: 8px 0;
}
form li .help {
  color: #aaa;
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  padding-top: 14px;
}
form li .help a {
  color: #76a1cd;
}
form label {
  color: #555;
  display: block;
  font-size: 14px;
  font-weight: 400;
}
form input {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #333;
  display: block;
  font-size: 18px;
  height: 32px;
  padding: 0 5px;
  width: 275px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
form input::-webkit-input-placeholder {
  color: #ddd;
}
form input:-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
form input::-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
form input:-ms-input-placeholder {
  color: #ddd;
}
form input:focus {
  outline: 1px solid #3388dd;
}
form #card_number {
  background-image: url(../images/images.png), url(../images/images.png);
  background-position: 2px -121px, 260px -61px;
  background-size: 120px 361px, 120px 361px;
  background-repeat: no-repeat;
  padding-left: 54px;
  width: 225px;
}
form #card_number.visa {
  background-position: 2px -163px, 260px -61px;
}
form #card_number.visa_electron {
  background-position: 2px -205px, 260px -61px;
}
form #card_number.mastercard {
  background-position: 2px -247px, 260px -61px;
}
form #card_number.maestro {
  background-position: 2px -289px, 260px -61px;
}
form #card_number.discover {
  background-position: 2px -331px, 260px -61px;
}
form #card_number.valid.visa {
  background-position: 2px -163px, 260px -87px;
}
form #card_number.valid.visa_electron {
  background-position: 2px -205px, 260px -87px;
}
form #card_number.valid.mastercard {
  background-position: 2px -247px, 260px -87px;
}
form #card_number.valid.maestro {
  background-position: 2px -289px, 260px -87px;
}
form #card_number.valid.discover {
  background-position: 2px -331px, 260px -87px;
}
.vertical {
  overflow: hidden;
}
.vertical li {
  float: left;
  width: 140px;
}
.vertical li .or {
  color: #aaa;
  float: left;
  font-size: 12px;
  margin-left: -8px;
  margin-top: 32px;
}
.vertical li:last-child {
  float: right;
  text-align: right;
}
.vertical li:last-child input {
  float: right;
}
.vertical input {
  width: 68px;
}
ins {
  overflow: hidden;
  width: 100%;
}
footer {
  background: #232323;
  padding: 56px 10px;
}
footer .column {
  overflow: hidden;
}
footer a {
  color: #b6b6b0;
}
footer a:hover {
  border-bottom-color: #b6b6b0;
}
footer h3 {
  color: #c6c6c0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 28px;
  text-transform: uppercase;
}
footer ul {
  border-right: 1px dotted #404046;
  float: left;
  font-size: 14px;
  margin-right: 20px;
  width: 219.33333333px;
}
footer ul:last-child {
  border-right: none;
  margin-right: 0;
}
footer ul small {
  color: #777;
  font-size: 11px;
  font-weight: 400;
}
footer .wrapper > p {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}
footer .wrapper > p img {
  margin-bottom: 2px;
  vertical-align: middle;
}
@media screen and (max-width: 699px) {
  header {
    font-size: 14px;
  }
  header .secondary {
    display: none;
  }
  footer ul {
    border-bottom: 1px dotted #404046;
    border-right: none;
    float: none;
    margin-bottom: 13px;
    padding-bottom: 11.2px;
    width: 100%;
  }
  footer ul:last-child {
    border-bottom: none;
  }
}
@media screen and (min-width: 768px) {
  .columns {
    margin: 0 auto 56px;
    width: 700px;
  }
  .columns.three .column {
    width: auto;
  }
  #banner .wrapper {
    padding: 84px 10px 84px;
  }
  .intro .download span {
    margin: 0 40px;
    min-width: 0;
  }
  .intro .download a {
    margin: 0;
    min-width: 0;
  }
  #content {
    width: 700px;
  }
  #manual {
    width: 700px;
  }
  ins {
    width: 728px;
  }
}
@media screen and (min-width: 1080px) {
  .wrapper {
    width: 940px;
  }
  .columns {
    overflow: hidden;
    width: auto;
  }
  .columns .column {
    float: left;
    margin-right: 80px;
  }
  .columns .column:last-child {
    margin-right: 0;
  }
  .columns.three .column {
    width: 260px;
  }
  .intro {
    float: left;
    margin-bottom: 0;
    margin-top: 28px;
    padding: 0;
    text-align: left;
    width: 480px;
  }
  .demo {
    float: right;
  }
  #content {
    width: 940px;
  }
  footer ul {
    border-bottom: 1px dotted #404046;
    border-right: none;
    float: none;
    margin-bottom: 13px;
    padding-bottom: 11.2px;
    width: 100%;
  }
  footer ul:last-child {
    border-bottom: none;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1060px;
  }
  .columns.three .column {
    width: 300px;
  }
  .intro {
    margin-top: 56px;
    width: 570px;
  }
  form {
    float: none;
  }
  #content {
    width: 1060px;
  }
}
